
{% extends "layout.html" %}
{% block title %}Inbox{% endblock %}



{% block content %}

<div style="display:flex; justify-content:space-between; margin-bottom:15px">
    <h3>📥 صندوق الوارد</h3>

    <a href="{{ url_for('create_request') }}" class="btn btn-approve">
        ➕ طلب جديد
    </a>
</div>

<table>
  <tr>
    <th>رقم</th>
    <th>العنوان</th>
    <th>الحالة</th>
    <th>إجراء</th>
  </tr>

  {% for req in requests %}
  <tr>
    <td>{{ req.id }}</td>
    <td>{{ req.title }}</td>
    <td>{{ req.status }}</td>
    <td>
      <a href="{{ url_for('review_request', request_id=req.id) }}">عرض</a>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}

